<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />

    <title>Expense Tracker - Dashboard</title>
</head>
<body>

    <header>
        <h1>My wallet</h1>
        <div class="wallet">
            {% if summary %}
            <span>Income : ${{ summary.total_income }}</span> |
            <span>Expense : ${{ summary.total_expense }}</span> |
            <span>Balance : ${{ summary.balance }}</span>
            {% endif %}
        </div>
    </header>


        <!-- Add Transaction Form -->
         <!-- <div class="form-backdrop">
            <form action="">
                <div class="title">add a transaction</div>
            </form>
         </div> -->


    <!-- Advanced Filters form -->
     <div class="form-backdrop">
        <form action="" class="amount-form">
            <button class="close-btn" type="button" onclick="document.querySelector('.form-backdrop').classList.remove('active')">
                <img src="/static/icons/x-circle.svg" alt=" Close advanced filters form icon">
            </button>
        <div class="title">Advanced Filters</div>
        <div class="radio-handler">
            <h3>Filter by : </h3>
            <div class="radio-item">
                <label for="all-filter">All</label>
                <input type="radio" name="filter" id="all-filter" value="all" checked>
            </div>
            <div class="radio-item">
                <label for="income-filter">Income</label>
                <input type="radio" name="filter" id="income-filter" value="Income">
            </div>
            <div class="radio-item">
                <label for="date-filter">Expense</label>
                <input type="radio"  name="filter" id="date-filter" value="Expense">
            </div>
        </div>

        <div class="radio-handler">
            <h3>Sort By :</h3>
            <div class="radio-item">
                <label for="larger-than-sort">Larger than</label>
                <input type="radio"   class="radio" name="sort" id="larger-than-sort" value="larger-than" checked>
            </div>
            <div class="radio-item">
                <label for="smaller-than-sort">Smaller than</label>
                <input type="radio"   class="radio" name="sort" id="smaller-than-sort" value="smaller-than">
            </div>
            <div class="radio-item between-sort">
                <label for="between-sort">Between</label>
                <input type="radio"  class="radio"  name="sort" id="between-sort" value="between">
            </div>
        </div>

        <div class="radio-handler">
            <h3>Category :</h3>
            <select name="category" id="">
                <option value="" disabled selected>Select a category</option>
                {% if categories%}
                {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
                {% endif %} 
            </select>
          
        </div>

        <div class="radio-handler date_input">
            <h3>Select date :</h3>
            <input type="date" name="date" id="date-picker">
        </div>
        <p class="filter-preview">
            select all "Income" transactions larger than : <span id="amount-preview">$0</span>
        </p>
        <div class="inputs-handler">
            <div class="input-item single-input">
                <input type="number" name="amount" id="amount-input" placeholder="Enter amount">
            </div>

            <div class="input-item double-inputs remove">
                <input type="number" name="min_amount" id="amount-input_1" placeholder="Min">
                <input type="number" name="max_amount" id="amount-input_2" placeholder="Max">
            </div>
            
        </div>
        <button type="submit">apply filters</button>
     </form>
     </div>
    









    <section id="records">
        <div class="section-title">
            <h2>Recent Transactions</h2>
            <p>Total Transaction : {{ expenses | length }}</p>
        </div>

        <div class="filters-wrapper">
            <div class="add-transaction-btn">
                <button>
                    <p>+ New Transaction</p>
                </button>
            </div> |

            <div class="filter-type-btns">
                <button class="filter-btn active" data-type="all">All Transactions</button>
                <button class="filter-btn" data-type="income">Incoming</button>
                <button class="filter-btn" data-type="expense">Expenses</button>
            </div>

            <select name="filter" id="filter-category">
                <option value="" disabled selected>Select a category</option>
                {% if categories%}
                {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
                {% endif %}
            </select>

            <div class="advanced-filters-wrapper">
              
                <button class="advanced-filter" onclick="open_filters_form()">
                    <img src="/static/icons/funnel-simple.svg" alt="Advanced filter icon">
                    <p>Filters</p>
                </button>
            </div>
        </div>
    <div class="table-section">

    <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Type</th>
            <th>Amount ($)</th>
            <th>Category</th>
            <th>Description</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="1" border="0">
      <tbody>   
          <tbody>
        {%  if expenses %}

            {% for transaction in expenses %}
                    <tr>
                        <td>{{ transaction.type }}</td>
                        <td>{{ transaction.amount }}</td>
                        <td>{{ transaction.category }}</td>
                        <td class="description">
                            {{ transaction.description }}
                        </td>
                        <td>{{ transaction.date }}</td>
                        <td class="actions">
                            <button>
                                <img src="/static/icons/pencil-simple-light.svg" alt="">
                            </button>
                            <a href="/deleteTransaction/{{ transaction.id }}">
                                <img src="/static/icons/trash-simple-light.svg" alt="">
                            </a>
                        </td>
                    </tr>
            {% endfor %}
         
          

        {% else %}
             <span style="display: block; text-align:center; padding-top:2em;">No Transaction found</span>
        {% endif %}
         
          
           

        
        </tbody>
      </tbody>
    </table>
  </div>
  </div>





    </section>




    <script>
          // JavaScript Open advanced filters amount form
       function open_filters_form() {
       
           document.querySelector('.form-backdrop').classList.add('active');
       }


       const SortByRadios = document.querySelectorAll('.radio-handler .radio')
       const DbInputs= document.querySelector('.double-inputs')
       const SingleInputs= document.querySelector('.single-input')

       SortByRadios.forEach((radio) => {
       radio.addEventListener('change',(event) => {

        val = event.target.value

        if (val == 'between'){
            DbInputs.style.display = 'block'

            SingleInputs.style.display = 'none'
        }else{
            DbInputs.style.display = 'none'
            SingleInputs.style.display = 'block'

        }
       })
       })
    document.addEventListener('DOMContentLoaded',() => {

       
        const filter_category = document.getElementById('filter-category')

           // JavaScript to handle filter button active state
        const filterButtons = document.querySelectorAll('.filter-btn');

        const rows = Array.from(document.querySelectorAll('.tbl-content table tr'))

        //console.log(rows[0].cells[0])
        filterButtons.forEach(button => {
            button.addEventListener('click', () => {
                // Remove 'active' class from all buttons
                filterButtons.forEach(btn => btn.classList.remove('active'));
                // Add 'active' class to the clicked button
                button.classList.add('active');
              
                const filterType = button.getAttribute('data-type').toLocaleLowerCase();
                
                rows.forEach((row) => {
                    rowCell = row.cells[0].textContent.toLowerCase()
                    if(filterType === 'all' || filterType === rowCell){
                        row.style.display = '';
                    }else {
                        row.style.display = 'none'
                    }
                })


            });
        });


        // JavaScript Filter by Category
        filter_category.addEventListener('change',(event) => {
            const categorySelect = filter_category.value.toLowerCase()
            rows.forEach((row) => {
                  rowCell = row.cells[2].textContent.toLowerCase()
                   if(categorySelect === 'all' || categorySelect === rowCell){
                        row.style.display = '';
                    }else {
                        row.style.display = 'none'
                    }

            })
            
        })

    



     

        });


    </script>

</body>
</html>